{% extends "index.html"%} {% block start%}
<div class="container mt-4">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
    {%csrf_token%}
    <h1>Register</h1>
    <hr />
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First-Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="first_name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last-Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="last_name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">UserName</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
    </div>
    <p>You have Account <a href="/">Login</a></p>
    <button type="submit" class="btn btn-info">Register</button>
  </form>
</div>

{%endblock%}
